.navbar-brand {
  padding-right: 35%;
}

.navbar-brand img {
  width:50px;
  height:50px;
}

// Make Nav transparent


.nav-link {
  color: black !important;
}

.navbar ul li a:hover {
  background-color: lightgrey !important;
  border-radius: 50px;
}

.navbar ul li a {
  padding: 0 3.0em !important;
}

@media screen and (max-width: 800px) {
 .navbar ul li a {
      padding: 0em !important;
    }
}
